footer.page-footer {
    margin-top: 0px !important ;
}

.brand-logo > img{
    max-height: 64px;
}
.parallax img {
    opacity: 0.5;
}
.titulo1{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(147,206,222,1);
    background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
    background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}

.tabs {
    overflow-x: hidden;
}

div#chart_div > div > div {

    text-align: center;
    margin: 0 auto;
}
.card-title a:hover{
    color: #26a69a;
    font-weight: bold;
}
@media screen and (max-width: 992px) {
    .brand-logo > img{
        display: none;
    }
}
div#chart_div {

    border-radius: 68PX;
    /* -webkit-box-shadow: inset 0px 0px 19px 3px rgba(0,0,0,0.75); */
    -moz-box-shadow: inset 0px 0px 19px 3px rgba(0,0,0,0.75);
    /* box-shadow: inset 0px 0px 19px 3px rgba(0,0,0,0.75); */
    padding: 20px 0;
    margin-top: 10px;
}
.card-title a {
    color: white;
    font-weight: bold;
}